In [3]:
import numpy as np
import pandas as pd

#같은 폴더에 gapminder.tsv가 있다는 가정으로 하기
df = pd.read_csv("./gapminder.tsv",sep="\t")
#df = pd.read_csv("gapminder.tsv",sep='\t')
print("df :")
print(df)
print("head() 함수를 써서 앞부분 다섯 줄만 출력하기")
print(df.head())
'''
       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
'''
print()
print(df.head(3))
'''
       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
'''
print()
print("df의 데이터타입 =",type(df))
#df의 데이터타입 = <class 'pandas.core.frame.DataFrame'>


print("df의 차원을 구해주는 shape 속성")
print("df.shape=",df.shape)#df.shape= (1704, 6)
#axis=0 : 1704, axis=1 : 6
print()
print("df.shape[0]=",df.shape[0])
print("df.shape[1]=",df.shape[1])
'''
df.shape[0]= 1704
df.shape[1]= 6
'''

df :
          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]
head() 함수를 써서 앞부분 다섯 줄만 출력하기
       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710

df의 데이터타입 = <class 'pandas.core.frame.DataFrame'>
df의 차원을 구해주는 shape 속성
df.shape= (1704, 6)

df.shape[0]= 1704
df.shape[1]= 6

'\ndf.shape[0]= 1704\ndf.shape[1]= 6\n'

In [4]:
print("df.columns=",df.columns)

df.columns= Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [5]:
print("df.dtypes=")
print(df.dtypes)

df.dtypes=
country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [6]:
print("df.info()=",df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
df.info()= None

In [11]:
country_df = df['country']
print("country_df :")
print(country_df)

print()
print("type(country_df) :",type(country_df))

country_df :
0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

type(country_df) : <class 'pandas.core.series.Series'>

In [12]:
print("country_df.head() :")
print(country_df.head())
print()
print("country_df.tail() :")
print(country_df.tail())

country_df.head() :
0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

country_df.tail() :
1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [13]:
subset = df[["country",'continent','year']]
print("subset :")
print(subset)

subset :
          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [14]:
print("type(subset) :",end=" ")
print(type(subset))#type(subset) : <class 'pandas.core.frame.DataFrame'>

print()
print("subset.shape=",subset.shape)#subset.shape= (1704, 3)

type(subset) : <class 'pandas.core.frame.DataFrame'>

subset.shape= (1704, 3)

In [15]:
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [17]:
print(df)
print("------------------------------------------------------------------------------")
print(df.loc[0])

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]
------------------------------------------------------------------------------
country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [18]:
print(df.loc[400])
print("------------------------------------------------------------------------------")
print(df.iloc[400])

country      Czech Republic
continent            Europe
year                   1972
lifeExp               70.29
pop                 9862158
gdpPercap        13108.4536
Name: 400, dtype: object
------------------------------------------------------------------------------
country      Czech Republic
continent            Europe
year                   1972
lifeExp               70.29
pop                 9862158
gdpPercap        13108.4536
Name: 400, dtype: object

In [19]:
print("df.shape :",df.shape)
print("df.shape[0] :",df.shape[0])
print("df.shape[1] :",df.shape[1])
numOfRows=df.shape[0]
lastRowIndex=numOfRows-1
numOfColumns=df.shape[1]-1
lastRowColumns=numOfColumns-1
print("==========================")
print(df.loc[lastRowIndex])
print("------------------------------------------------------------------------------")
print(df.iloc[lastRowIndex])

df.shape : (1704, 6)
df.shape[0] : 1704
df.shape[1] : 6
==========================
country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object
------------------------------------------------------------------------------
country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [20]:
print(df.tail(n=1))
print("--------------------------------------------------------------------")
print(df.tail(1))

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298
--------------------------------------------------------------------
       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [21]:
print(df.tail(n=2))

       country continent  year  lifeExp       pop   gdpPercap
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [22]:
print(df.iloc[[0,99,999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [23]:
print(df.iloc[[99]])

       country continent  year  lifeExp       pop   gdpPercap
99  Bangladesh      Asia  1967   43.453  62821884  721.186086

In [24]:
print(df.iloc[1703])
print("-------------------------------------")
print(df.iloc[-1])

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object
-------------------------------------
country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [25]:
s2 = df.loc[ : , ['year','pop'] ]#: 슬라이싱(잘라냄)
#" : " : 모든 행들
#['year','pop'] : 이 행들만 가져오겠다.
print("s2.shape",s2.shape)
print("s2 :")
print(s2)
print("----------------------")
print(s2.head())

s2.shape (1704, 2)
s2 :
      year       pop
0     1952   8425333
1     1957   9240934
2     1962  10267083
3     1967  11537966
4     1972  13079460
...    ...       ...
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

[1704 rows x 2 columns]
----------------------
   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [26]:
s3 = df.iloc[ : , [2,4,-1]]
print("s3 :")
print(s3)

s3 :
      year       pop   gdpPercap
0     1952   8425333  779.445314
1     1957   9240934  820.853030
2     1962  10267083  853.100710
3     1967  11537966  836.197138
4     1972  13079460  739.981106
...    ...       ...         ...
1699  1987   9216418  706.157306
1700  1992  10704340  693.420786
1701  1997  11404948  792.449960
1702  2002  11926563  672.038623
1703  2007  12311143  469.709298

[1704 rows x 3 columns]

In [27]:
print(df.iloc[[0,99,999],[0,3,5]])

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [28]:
print(df.loc[10:13,['country','lifeExp','gdpPercap']])

        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244